.row > * {
   padding-right: 0;
}

.row {
   --bs-gutter-x: 0rem;
}

nav {
   text-transform: uppercase;
   font-size: 13px;
   display: fixed;
}

.near-nav {
   display: inline-flex;
}

.logo-mobhil {
   height: 100px;
   width: 210px;
}

.dropdown-language {
   text-decoration: none;
   list-style-type: none;
   margin-left: 20px;
}

.dropdown-language a {
   color: black;
}

.onpicture {
   font-family: "Roboto", sans-serif;
   color: white;
}

.onpicture h3 {
   font-weight: 100;
   font-size: 40px;
}

.onpicture h4 {
   font-weight: 100;
   font-size: 20px;
}

.onpicture h2 {
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;
}

.PorscheGT-right {
   position: absolute;
   top: 50px;
   left: 600px;
}

.PorscheGT-left {
   position: absolute;
   top: 50px;
   left: 80px;
   bottom: 300px;
}

.top-left {
   position: absolute;
   top: 8px;
   left: 16px;
   padding: 50px;
   text-align: left;
}

.top-right {
   position: absolute;
   top: 8px;
   right: 16px;
   padding: 50px;
}

.about-section-1-centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.bottom-left {
   position: absolute;
   bottom: 8px;
   left: 16px;
   padding: 50px;
}

.bottom-left h5:hover {
   font-weight: 300;
   border-bottom: 1px solid white;
}

.bottom-right {
   position: absolute;
   bottom: 0;
   right: 50px;
   padding: 0px 200px 50px 0px;
   width: 150px;
}

.rightarrow {
   margin-left: 30px;
   opacity: 0.5;
}

.rightarrow:hover {
   transition: 0.3s;
   opacity: 1;
}

.leftarrow {
   margin-right: 30px;
   opacity: 0.5;
}

.leftarrow:hover {
   transition: 0.3s;
   opacity: 1;
}

form {
   margin-left: 10px;
}

a {
   cursor: pointer;
}

.rightcol-section-1 {
   background-color: black;
   border-radius: 0px 0px 0px 100px;
   text-align: right;
}

#myPrice {
   font-weight: 700;
}

h5 {
   font-family: "Roboto", sans-serif;
   font-weight: 100;
}

.leftcol-section-1 {
   padding: 50px 15px 0px 100px;
}

.leftcol-section-2 {
   position: absolute;
   width: 43%;
}

.leftcol-section-2 img {
   border-radius: 0px 80px 80px 0px;
}

.rightcol-section-2 {
   position: relative;
   padding-left: 10%;
   margin-bottom: 200px;
}

.image-with-radius-1 {
   border-radius: 0px 0px 0px 100px;
   opacity: 0.7;
   width: 100%;
}

.press-holder {
   position: relative;
}

.say-hello {
   font-size: 70px;
   font-weight: 800;
   margin-bottom: 20px;
}

dd {
   font-weight: normal;
   font-size: 15px;
   color: #636363;
   margin-bottom: 50px;
}

.leftcol {
   padding: 100px 80px 115px 110px;
}

/* switch button */

.switch {
   position: relative;
   display: inline-block;
   width: 280px;
   height: 50px;
}

.switch input {
   display: none;
}

.slider-switch {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #e8e8e8;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   user-select: none;
}

.slider-switch:before {
   position: absolute;
   content: "";
   height: 40px;
   width: 103px;
   left: 7px;
   bottom: 5px;
   background-color: orange;
   color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider-switch {
   background-color: rgb(214, 214, 214);
}

input:focus + .slider-switch {
   box-shadow: 0 0 1px #5283ff;
}

input:checked + .slider-switch:before {
   transform: translateX(112px);
   width: 155px;
   background-color: #5283ff;
}

/* Rounded slids */
.slider-switch.round {
   border-radius: 34px;
}

.slider-switch.round:before {
   border-radius: 34px;
}
.slider-switch.square:before {
   border-radius: 4px;
}

.switch-non {
   position: absolute;
   top: 50%;
   transform: translate(40%, -50%);
   color: white;
}

.switch-oui {
   position: absolute;
   top: 50%;
   transform: translate(-5%, -50%);
   right: 5px;
   color: #6666;
}

input:checked + .slider-switch > .switch-oui {
   color: #fff;
}

.mini-selector {
   padding: 20px 40px 20px 0px;
}

.second-selector {
   color: yellow;
}

.blue-button-near-mini-selector {
   padding: 10px 30px 10px 30px;
   margin-left: auto;
   margin-right: auto;
}

.container-card {
   padding: 10px;
   margin-left: 20px;
   width: 18rem;
}

.cards {
   padding-left: 20%;
   display: flex;
}

.card-wrapper {
   text-decoration: none;
   font-family: "Roboto", san;
}

.vertical-list li {
   display: inline; /* Отображать как строчный элемент */
   padding-right: 20px;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 24px;
}

/* width: 30%; */

section {
   padding-bottom: 100px;
}

.under-dt {
   padding: 15px 0px 15px 0px;
   width: 650px;
   display: flex;
}

/* select box */

.verticalLine {
   border-left: 1px solid grey;
   opacity: 0.5;
}

.box {
   /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
   margin: 0px 20px 0px 20px;
}

.box select {
   color: grey;
   font-weight: 400;
   padding: 12px;
   border: none;
   font-size: 15px;
   -webkit-appearance: button;
   appearance: button;
   outline: none;
   text-transform: uppercase;
   font-family: "Roboto", sans-serif;
}

.box::before {
   font-family: FontAwesome;
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
   height: 100%;
   text-align: center;
   font-size: 28px;
   line-height: 45px;
   color: rgba(255, 255, 255, 0.5);
   background-color: rgba(255, 255, 255, 0.1);
   pointer-events: none;
}

.box:hover::before {
   color: rgba(255, 255, 255, 0.6);
   background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
   padding: 30px;
}
/* end select box */

.elements-of-card {
   padding: 20px 0px 20px 0px;
   height: 100px;
}

.card-title {
   padding: 20px 0px 20px 0px;
   font-weight: bold;
   text-transform: uppercase;
}

.card-body {
   padding: 40px;
   border-radius: 15px;
}

.up-text {
   padding: 0;
   width: 40%;
   margin-left: 30%;
}

.up-text h1 {
   padding: 25px 0px 25px 0px;
   font-weight: bold;
}

.tryadvance {
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
}

.tryadvance pre:hover {
   color: black;
   transition: 0.6s;
}

.dont-wories {
   font-weight: bold;
   font-size: 50px;
   padding: 20px 0px 20px 0px;
}

.textabout h6 {
   font-size: 20px;
   color: grey;
}

.leftcol-section-3 {
   padding: 40px;
}

#autopicture::before {
   transition: 0.5s;
}

#autopicture:hover {
   transform: scale(1.1);
   transition: 0.5s;
}

/* овалы под картинкой. конечно, можно создать переменные и все это дело автоматизировать, но мне так лень */

.Rectangle1 {
   display: block;
   width: 80%;
   height: 20px;
   margin-left: auto;
   margin-right: auto;
}

.Rectangle2 {
   display: block;
   width: 60%;
   height: 20px;
   margin-left: auto;
   margin-right: auto;
   opacity: 0.3;
}

.header-section-3 {
   padding: 0px;
   max-width: 700px;
   margin: auto;
   text-align: center;
}

.header-section-3 h2 {
   font-weight: bold;
   padding-bottom: 20px;
   font-size: 50px;
}

.header-section-3 p {
   font-size: 15px;
}

.card-category {
   text-transform: uppercase;
   position: absolute;
   top: 20px;
   left: 26px;
   text-align: left;
   font-size: 14px;
   color: white;
   font-weight: 100;
   letter-spacing: 3px;
}

p {
   margin-bottom: 0;
   font-family: "Roboto", sans;
   font-weight: 100;
}

.textabout {
   padding: 0px 20px 0px 40px;
}

/* play button */

.nmt-circle {
   border: 1px solid #0000bd;
   border-radius: 100%;
   height: 30px;
   margin: -5px 5px 0 0;
   padding: 25px;
   width: 20px;
}

/* play button placement */
.nmt-arrow-right {
   background-color: transparent;
   border: 0;
   bottom: 2px;
   left: 35px;
   padding: 0;
   position: relative;
}

.nmt-play-wrapper {
   align-items: center;
   display: flex;
   margin-top: 20px;
}

/* play button */
.nmt-play-wrapper button {
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-left: 15px solid #0000bd;
   border-right: 0;
}

.nmt-play-wrapper button:hover,
.nmt-play-wrapper button:hover ~ .nmt-circle {
   background-color: #0000bd;
   border: 1px solid #0000bd;
   cursor: pointer;
}

.nmt-play-wrapper button:hover {
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-left: 15px solid white;
   border-right: 0;
}

.learnmore {
   color: gray;
   padding-left: 20px;
}

.learnmore:hover {
   color: blue;
   padding-left: 20px;
}

/* Section-4  */

.section-4-buttons {
   display: flex;
}

.section-4 img {
   height: 650px;
   position: absolute;
   bottom: 0;
   left: 60%;
   object-fit: none;
   border-radius: 20px;
   bottom: 35px;
}
.section-4 p {
   color: white;
   font-size: 60px;
   margin: 60px;
   width: 50%;
}

.section-4 button {
   margin: 0px 0px 60px 30px;
   padding: 10px 30px 10px 30px;
}

.section-4-background {
   border-radius: 100px;
   padding: 30px;
   margin-top: 100px;
}

footer li {
   list-style-type: none;
}

footer ul {
   padding: 0;
}

footer a {
   text-decoration: none;
   left: 0;
   right: 0;
   color: grey;
}

footer {
   padding: 30px 10px 10px 10px;
   text-decoration: none;
}

.footer-col-6 {
   padding-right: 60px;
   margin-bottom: 40px;
}

.buttons-under-contact a {
   text-decoration: none;
   color: black;
   list-style-type: none;
}

.col-3 p {
   color: grey;
   line-height: 28px;
}

.col-3 h6 {
   margin: 15px 0px 15px 0px;
}

.street,
.phonenumber-footer {
   padding: 10px 10px 10px 20px;
   margin-top: 20px;
   background-color: rgb(233, 236, 247);
   border-radius: 20px;
   transition: 0.25s;
}

.street:hover,
.phonenumber-footer:hover {
   background-color: rgb(26, 21, 220);
   color: white;
}

/* media */
@media (max-width: 1200px) {
   .onpicture h5 {
      font-weight: 100;
      font-size: 20px;
   }

   .onpicture h3 {
      font-weight: 100;
      font-size: 30px;
   }

   .onpicture h4 {
      font-weight: 100;
      font-size: 20px;
   }

   .onpicture h2 {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
   }

   .cards {
      padding-left: 0px;
      /* display: unset; */
   }

   .rightcol-section-2 {
      padding-left: 0;
   }

   .up-text {
      width: 55%;
      margin-left: 38%;
   }
}

@media (max-width: 992px) {
   .navbar {
      margin-bottom: 20px;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      background-color: white;
   }
   .navbar-collapse {
      left: 0px;
      width: 100%;
      background-color: white;
      top: 105px;
      z-index: 1;
      text-align: center;
   }

   .near-nav {
      margin-bottom: 20px;
   }

   .navcontact {
      margin-bottom: 20px;
   }

   .col-slider {
      margin: 0px 5px 0px 5px;
   }
   .col-6 {
      width: 100%;
   }

   .rightcol-section-4 img {
      width: 200px;
   }

   .section-4 p {
      font-size: 50px;
      margin: 0px 0px 50px 50px;
   }

   .section-4 button {
      margin: 20px 0px 10px 0px;
   }

   .section-4-buttons {
      display: inline-grid;
      margin-left: 50px;
   }

   .image-with-radius-1 {
      border-radius: 0px 0px 100px 100px;
   }

   .rightcol-section-1 {
      border-radius: 0px 0px 100px 100px;
   }

   #OurTeam {
      padding-bottom: 20px;
   }
}

@media (max-width: 720px) {
   /* section-2 */
   .cards {
      display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }

   .leftcol-section-2 {
      display: none;
   }

   /* section-1 */

   .box {
      text-align: center;
   }
   .up-text h1 h6 p {
      text-align: center;
   }

   .up-text {
      width: 100%;
      margin: 0;
      padding: 10px;
      text-align: center;
   }

   .under-dt {
      display: inline-grid;
      width: 100%;
      text-align: center;
   }
   .leftcol-section-1 {
      margin-top: 20px;
      padding: 30px;
   }

   .leftcol-section-1 h1 {
      font-size: 35px;
   }

   .textabout h6 {
      text-align: start;
   }

   .textabout {
      margin-bottom: 25px;
   }

   .dont-wories {
      font-size: 35px;
   }

   .header-section-3 h2 {
      font-size: 35px;
   }

   /* section-3 */
   .leftcol-section-3 {
      padding: 10px;
   }
   .rightcol-section-2 {
      margin-bottom: 0px;
   }

   /* slider */
   .section-slider {
      width: 100%;
   }

   .card__duration {
      width: 100%;
   }
}

@media (max-width: 576px) {
   /* section-1 */

   .onpicture h5 {
      font-weight: 100;
      font-size: 15px;
   }

   .onpicture h3 {
      font-weight: 100;
      font-size: 20px;
   }

   .onpicture h4 {
      font-weight: 100;
      font-size: 15px;
   }

   .onpicture h2 {
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
   }

   /* section-2 */
   .container-card {
      margin-left: auto;
   }

   /* section-4 */
   .section-4 p {
      width: 100%;
      font-size: 30px;
      margin: 0px 0px 0px 0px;
      text-align: center;
      padding: 10px;
   }
   .section-4 img {
      display: none;
   }

   .section-4-buttons {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
   /* adaptive section-1 */

   .top-left {
      padding-left: 10px;
      padding-top: 60px;
   }

   .top-right {
      padding-right: 10px;
      padding-top: 60px;
   }

   .bottom-left {
      padding: 20px;
   }

   .bottom-right {
      padding: 10px;
   }

   .rightcol-section-1 {
      border-radius: 0px 0px 20px 20px;
   }

   .rightcol-section-1 img {
      border-radius: 0px 0px 20px 20px;
   }

   /* footer */
   .col-sm-6 {
      margin-bottom: 40px;
   }

   .col-sm-2 {
      margin-bottom: 30px;
      text-align: center;
   }
   .col-lg-2 h6 {
      text-align: center;
   }

   .footer-col-6 {
      padding-right: 0px;
   }

   .img-footer {
      margin-left: 15%;
      margin-right: 15%;
   }

   /* About */
   .about-section-1-centered {
      padding-top: 80px;
   }

   .col-3-section-4 img {
      width: 50%;
   }

   .col-6-section-2 {
      padding-right: 0px;
   }
}

@media (max-width: 375px) {
   /* adaptive section-1 */

   .leftcol-section-1 {
      padding: 20px;
   }

   .bottom-right {
      position: absolute;
      bottom: 0;
      right: 10px;
   }

   .rightarrow {
      margin-left: 10px;
   }

   .leftarrow {
      margin-right: 10px;
   }

   .leftcol-section-1 h1 {
      font-size: 35px;
   }

   /* section */
}

/* Site.About */

.row-under-timeline img {
   height: 50px;
}

.Card-About {
   padding: 25px;
}

.col-3-section-4 img {
   border-radius: 30px;
   width: 100%;
   height: 80%;
   margin-left: auto;
   margin-right: auto;
   border: 1rem solid white;
}

.col-3-section-4 h6 {
   font-weight: 700;
   font-size: 30px;
   width: 100%;
   text-align: center;
}

.col-6-section-2 {
   padding-top: 30px;
   padding-right: 100px;
}
