*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.center-image,
.card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-object-fit: cover;
  object-fit: cover;
}

.slick-slide {
  padding: 2em 0.5em;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 350px;
  box-shadow: 0 30px 20px -25px rgba(0, 0, 0, 0.25);
}

.card img {
  opacity: 0.5;
}

.card > * {
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  text-align: left;
}

.card__background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #fff),
    color-stop(70%, rgba(255, 255, 255, 0))
  );
  background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 70%);
}

.card__category {
  margin: 20px 0px 20px 0px;
  text-transform: uppercase;
  color: #fff;
  background: rgb(26, 21, 220);
  font-size: 1em;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 15px;
  text-align: center;
}

.col-slider {
  margin: 0px 5px 0px 5px;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.card__duration {
  font-size: 12px;
  color: black;
  display: flex;
}

.modal-wrapper,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
  display: none;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: fixed;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state="closed"] .modal-wrapper {
  pointer-events: none;
}

[data-modal-state="closed"] .overlay {
  pointer-events: none;
}

[data-modal-state="closed"] .modal {
  opacity: 0;
}

[data-modal-state="closed"] .overlay {
  opacity: 0;
}

[data-modal-state="opening"] .modal__header,
[data-modal-state="opening"] .modal__content,
[data-modal-state="opening"] .modal__close-button,
[data-modal-state="closing"] .modal__header,
[data-modal-state="closing"] .modal__content,
[data-modal-state="closing"] .modal__close-button {
  opacity: 0;
}

[data-modal-state="opening"] .overlay {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

[data-modal-state="closing"] .overlay {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

[data-modal-state="open"] .modal__header,
[data-modal-state="open"] .modal__content {
  -webkit-transition: opacity 450ms;
  transition: opacity 450ms;
}
/*# sourceMappingURL=stylecssforslider.css.map */

@media (max-width:994px) {
  .card{padding:15px}
  .col-slider
  {
    margin: 0px;
  }
  
}

@media (max-width: 720px) {
  .card {
    padding: 1.3em;
  }

  .col-slider {
    margin: 0px 10px 0px 10px;
  }
}

@media (max-width: 374px) {
  .col-slider {
    margin: 0px ;
  }
}
