.range {
   width: 100%;
   max-width: 312px;
   padding: 20px 0 48px 0;
   background: #fff;
   border-radius: 9px;
}
.range h3 {
   font-family: inherit;
   font-size: 32px;
   font-weight: 700;
   color: var(--headline);
}
.range h3 span {
   font-weight: 500;
}
.range .values div,
.range small div {
   display: inline-block;
   vertical-align: top;
}
.range .values {
   margin: 0;
   font-weight: 500;
   color: var(--primary);
}
.range .values > div:first-child {
   margin-right: 2px;
}
.range .values > div:last-child {
   margin-left: 2px;
}
.range small {
   color: var(--text);
   display: block;
   margin-top: 8px;
   font-size: 14px;
}
.range .slider {
   margin-top: 40px;
}

.slider {
   --primary: #275efe;
   --handle: #fff;
   --handle-active: #becfff;
   --handle-hover: #e9efff;
   --handle-border: 2px solid var(--primary);
   --line: #cdd9ed;
   --line-active: var(--primary);
   height: 23px;
   width: 100%;
   position: relative;
   pointer-events: none;
}
.slider .ui-slider-handle {
   --y: 0;
   --background: var(--handle);
   cursor: -webkit-grab;
   cursor: grab;
   -webkit-tap-highlight-color: transparent;
   top: 0;
   width: 23px;
   height: 23px;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   position: absolute;
   outline: none;
   display: block;
   pointer-events: auto;
}
.slider .ui-slider-handle div {
   width: 23px;
   height: 23px;
   border-radius: 50%;
   -webkit-transition: background 0.4s ease;
   transition: background 0.4s ease;
   -webkit-transform: translateY(calc(var(--y) * 1px));
   transform: translateY(calc(var(--y) * 1px));
   border: var(--handle-border);
   background: var(--background);
   background-color: #275efe;
}
.slider .ui-slider-handle:hover {
   --background: var(--handle-hover);
}
.slider .ui-slider-handle:active {
   --background: var(--handle-active);
   cursor: -webkit-grabbing;
   cursor: grabbing;
}
.slider svg {
   --stroke: var(--line);
   display: block;
   height: 83px;
}
.slider svg path {
   fill: none;
   stroke: var(--stroke);
   stroke-width: 1;
}
.slider .active,
.slider > svg {
   position: absolute;
   top: -30px;
   height: 83px;
}
.slider > svg {
   left: 0;
   width: 100%;
}
.slider .active {
   position: absolute;
   overflow: hidden;
   left: calc(var(--l) * 1px);
   right: calc(var(--r) * 1px);
}
.slider .active svg {
   --stroke: var(--line-active);
   position: relative;
   left: calc(var(--l) * -1px);
   right: calc(var(--r) * -1px);
}
.slider .active svg path {
   stroke-width: 2;
}

html {
   -webkit-range-sizing: border-box;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}

* {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}
*:before,
*:after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}

@media (max-width: 400px) {
   .col-4 p {
      font-size: 10px;
   }
}

@media screen and (min-width: 994px) and (max-width: 1200px) {
   .col-4 p {
      font-size: 11px;
   }
}

.btn-outline-primary {
   border-color: #becfff;
   color: rgb(74, 101, 228);
}

.btn-select {
   margin: 3px;
   padding: 6px 25px;
}

.btn-outline-primary:hover {
   border-color: rgb(74, 101, 228);
   color: rgb(74, 101, 228);
   background-color: white;
}

.btn-outline-primary.active {
   color: rgb(74, 101, 228);
   background-color: rgb(244, 245, 249);
   border-color: rgb(243, 244, 249);
}

.select-buttons button {
   text-transform: uppercase;
}

.card:hover {
   transform: scale(1.1);
   transition: 0.5s;
}

a {
   text-decoration: none;
   color: inherit;
}
